@use "variables" as *;
@use "mixins" as *;

footer {
  background-color: $brand-color-beige;
}

.forms {
  @include mq(47.5em) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  display: grid;
  grid-template-rows: 1fr 1fr;

  .newsletter {
    background-color: $extra-color-pink;
    padding: $space-2xl $space-xl;
    span {
      font-family: $extra-font;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .news-text {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: $space-m;
      justify-content: space-between;
      h2 {
        font-family: $heading-font;
        font-size: 56px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0;
      }
      p {
        font-family: $body-font;
        font-size: 16px;
        width: 50%;
        line-height: 1.4;
      }
    }

    .news-button {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: $space-m;
      gap: 10px;
      p {
        font-family: $body-font;
        font-size: 16px;
        text-align: left;
        border-bottom: 1px solid $brand-color-black;
        padding-right: 12rem;
        padding-bottom: 0;
        margin: 0;
        align-content: space-around;
      }
      a {
        text-decoration: none;
        color: $extra-color-pink;
        background-color: $brand-color-black;
        font-family: $extra-font;
        font-weight: 700;
        font-size: 16px;
        padding: 12px 20px;
        transition: transform 0.3s ease;
      }
      a:hover {
        transform: translateX(10px);
      }
    }
  }

  .carte {
    background-color: $brand-color-orange;
    padding: $space-2xl $space-xl;

    span {
      font-family: $extra-font;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    h2 {
      font-family: $heading-font;
      font-size: 56px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: $space-m;
      margin-bottom: 0px;
    }

    .carte-text {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      margin-top: 10px;

      p {
        font-family: $body-font;
        font-size: 16px;
        width: 60%;
        line-height: 1.4;
        margin-bottom: 0;
      }
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: $extra-color-orange;
        background-color: $brand-color-black;
        font-family: $extra-font;
        font-weight: 700;
        font-size: 16px;
        margin-left: 10px;
        padding: 12px 20px;
        transition: transform 0.3s ease;
      }

      a:hover {
        transform: translateX(-10px);
      }
    }
  }
}

.infos {
  @include mq(47.5em) {
    flex-direction: row;
    align-items: flex-start;
    padding: 0 $space-xl;
  }

  display: flex;
  flex-direction: column;
  margin-top: $space-2xl;
  align-items: center;
  padding: 0 1rem;

  .infos-1 {
    @include mq(47.5em) {
      width: 33%;
      row-gap: $space-l;
    }
    width: 90%;
    row-gap: $space-s;

    p {
      font-family: $body-font;
      line-height: 1.4rem;
    }

    div {
      display: flex;
      flex-direction: row;
      column-gap: $space-s;
      align-items: center;

      h2 {
        font-family: $heading-font;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 34px;
      }

      a {
        width: 30px;
        transition: all 0.2s;
      }

      a:hover {
        transform: rotate(45deg);
      }
    }
  }

  .infos-2 {
    @include mq(47.5em) {
      width: 33%;
      row-gap: $space-m;
    }

    display: flex;
    flex-direction: column;
    width: 90%;
    row-gap: $space-s;
    align-items: center;

    .logo-footer {
      width: 235px;
    }
    .signature-footer {
      width: 196px;
    }
  }

  .infos-3 {
    @include mq(47.5em) {
      width: 17%;
    }

    width: 90%;

    li {
      list-style: none;
      text-align: center;
      margin-bottom: 14px;
      a {
        font-family: $extra-font;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 1px;
        color: $brand-color-black;
      }
    }
    li:hover {
      text-decoration: underline;
    }
  }

  .infos-4 {
    @include mq(47.5em) {
      width: 17%;
    }

    width: 90%;

    li {
      list-style: none;
      text-align: center;
      margin-bottom: 14px;
      a {
        font-family: $extra-font;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 1px;
        color: $brand-color-black;
      }
    }

    li:hover {
      text-decoration: underline;
    }
  }
}

.copyright {
  margin-top: $space-xl;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 $space-xl;
  align-items: center;
  justify-content: center;
  column-gap: $space-m;
  font-weight: 100;
  font-size: 14px;
  font-family: $body-font;

  a {
    text-decoration: none;
    color: $brand-color-black;
  }
  a:hover {
    text-decoration: underline;
  }

  .besoin {
    @include mq(47.5em) {
      margin-left: auto;
    }

    width: 90%;
    width: 144px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
  }
  .whatsapp {
    width: 50px;
    margin: 0;
  }
}

.footer-bar {
  margin-top: $space-m;
  background-position: top center;
  background-image: url(https://atelierdegeraldine.fr/wp-content/uploads/footer-fin-2.svg);
  background-size: 200px;
  height: 32px;
}
