@use "variables" as *;
@use "mixins" as *;
@use "product-gallery";
@use "ingredients";
@use "splash-text-prods";

.products {
    background-color: $brand-color-beige;

    .tab-names {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: clamp($space-m, 10vh, $space-l) auto;
        margin-bottom: clamp($space-s, 10vh, $space-l);
        @include product-padding;

        font-weight: 900;
        max-width: 80rem;

        .tab {
            background: none;
            border: none;
            position: relative;
            display: flex;

            p {
                font-family: $heading-font;
                font-size: clamp(2rem, 6vw, 5rem);
                margin: 0.5rem 0.2rem;
                margin-top: 0.25rem;
            }

            .corner-num {
                font-family: $body-font;
                margin: 0;
                font-size: clamp(0.75rem, 2vw, 1rem);
                position: relative;
                top: 0;
                right: 0;
            }

            &.current p {
                @include underline(5px, 0.4rem);
            }

            &:hover p,
            &:active p,
            &:focus p {
                @include underline(5px, 0.4rem);
            }
        }
    }

    #product-gallery-container {
        position: relative;
        @include product-padding;

        .arrow-btn {
            position: absolute;
            top: 37%;
            z-index: 999;
            background-color: $brand-color-beige;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 1;
            padding: clamp(0.75rem, 2vw, 0.9rem);
            border-radius: 100%;

            svg {
                height: clamp(1.1rem, 2vw, 1.4rem);
                width: auto;
            }

            &#right-arrow-prod {
                right: 5%;
            }

            &#left-arrow-prod {
                left: 5%;
            }
        }
    }

    .page-divider {
        @include vertical-margin-clamp;
        background-image: url("../assets/seperator.svg");
        background-repeat: repeat-x;
        background-size: 1400px;
        height: 35px;
    }

    @include mq($mobile-breakpoint) {
        .tab-names {
            justify-content: space-between;
        }

        #product-gallery-container {
            .arrow-btn {
                top: 40%;
                &#right-arrow-prod {
                    right: 1.5%;
                }

                &#left-arrow-prod {
                    left: 1.5%;
                }
            }
        }
    }
}
