@use "variables" as *;
@use "mixins" as *;

.product-gallery {
    display: flex;
    gap: 1rem;
    overflow: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;

    &.hidden {
        display: none;
    }
    .product-card {
        width: 95vw;
        flex: 1 0 auto;
        background-color: $brand-color-beige;
        text-align: center;
        .img-container {
            clip-path: inset(0 0 0 0 round clamp(20px, 10vw, 40px));
        }

        img {
            clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
            transition: all 0.5s;
        }

        &:hover img {
            clip-path: polygon(100% 0, 85% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
        }

        .card-text {
            $text-margin: 0.5rem;
            margin: $space-s;
            h2 {
                font-family: $heading-font;
                font-weight: 900;
                font-size: clamp(1rem, 6vw, 1.9rem);
                margin: $text-margin;
            }

            p {
                font-family: $extra-font;
                font-weight: 500;
                font-size: clamp(0.95rem, 5vw, 1.3rem);
                text-transform: uppercase;
                margin: $text-margin;
            }

            button {
                @include wide-font;
                font-family: $body-font;
                font-weight: 700;
                font-size: clamp(1rem, 4vw, 1.3rem);
                padding: clamp(0.5rem, 2vw, 0.7rem) clamp(0.7rem, 2vw, 1.5rem);
                border: 2px solid $brand-color-black;
                background-color: $brand-color-beige;
                border-radius: clamp(20px, 10vw, 30px);
                transform: translateY(0px);
                transition: transform 0.5s;

                .hover-text {
                    display: none;
                }
            }

            button:hover,
            button:focus,
            button:active {
                transform: translateY(-0.5rem);
                background-color: $brand-color-orange;
                border-radius: 0;
                color: $brand-color-beige;
                border: none;
                position: relative;

                &::after {
                    content: "";
                    background-image: url(../assets/btn-corner-prods.svg);
                    position: absolute;
                    background-size: cover;
                    top: 0;
                    right: 0;
                    height: 19px;
                    width: 16px;
                    z-index: 1;
                    background-repeat: no-repeat;
                }

                .hover-text {
                    display: block;
                }
                .price {
                    display: none;
                }
            }
        }
    }

    $large-gap: 2rem;

    @include mq($mobile-breakpoint) {
        & {
            gap: $large-gap;
        }

        .product-card {
            width: calc((100vw - 8vw - #{$large-gap}) / 2);
        }
    }

    @include mq($products-xl-breakpoint) {
        & {
            margin-bottom: $space-s;
        }
        .product-card {
            width: calc((100vw - 6vw - (#{$large-gap} * 3)) / 4);

            .card-text button {
                border-width: 3px;
            }
        }
    }
}
