// Colors

$brand-color-orange: #FF5403;
$brand-color-pink: #FED5C5;
$brand-color-beige: #FDF7E7;
$brand-color-white: #FFFFFE;
$brand-color-black: #090909;


$extra-color-yellow: #FFC832;
$extra-color-red: #E6262F;
$extra-color-green: #20964C;
$extra-color-orange: #FAA625;
$extra-color-olive: #7C7429;
$extra-color-dark-orange: #D96827;
$extra-color-purple: #81518C;
$extra-color-salmon: #F8D1BE;
$extra-color-blue: #C8E4FF;
$extra-color-pink: #F082A2;
$extra-color-brown: #5C3923;

// Fonts

$heading-font: "Big Shoulders", sans-serif;
$body-font: "Bricolage Grotesque", sans-serif;
$extra-font: "Montserrat", sans-serif;
