// Colors

$brand-color-orange: #ff5400;
$brand-color-pink: #fed5c5;
$brand-color-beige: #fdf7e7;
$brand-color-white: #fffffe;
$brand-color-black: #090909;

$extra-color-yellow: #ffc832;
$extra-color-red: #da3e25;
$extra-color-green: #20964c;
$extra-color-orange: #ff7520;
$extra-color-olive: #7c7429;
$extra-color-dark-orange: #d96827;
$extra-color-purple: #81518c;
$extra-color-salmon: #f8d1be;
$extra-color-blue: #c8e4ff;
$extra-color-pink: #ee83a4;
$extra-color-brown: #5c3923;

// Fonts

$heading-font: "Big Shoulders", sans-serif;
$body-font: "Bricolage Grotesque", sans-serif;
$extra-font: "Montserrat", sans-serif;

// Spaces

$space-s: 19.8px;
$space-m: 28px;
$space-l: 39.6px;
$space-xl: 56px;
$space-2xl: 79.2px;

// Breakpoints
$mobile-breakpoint: 760px;
$products-xl-breakpoint: 1200px;
