html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
}

.screen-reader-text {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Typography */
/* Elements */
/* Links */
.product-gallery {
  display: flex;
  gap: 1rem;
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.product-gallery.hidden {
  display: none;
}
.product-gallery .product-card {
  width: 95vw;
  flex: 1 0 auto;
  background-color: #fdf7e7;
  text-align: center;
}
.product-gallery .product-card .img-container {
  clip-path: inset(0 0 0 0 round clamp(20px, 10vw, 40px));
}
.product-gallery .product-card img {
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
  transition: all 0.5s;
}
.product-gallery .product-card:hover img {
  clip-path: polygon(100% 0, 85% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
}
.product-gallery .product-card .card-text {
  margin: 19.8px;
}
.product-gallery .product-card .card-text h2 {
  font-family: "Big Shoulders", sans-serif;
  font-weight: 900;
  font-size: clamp(1rem, 6vw, 1.9rem);
  margin: 0.5rem;
}
.product-gallery .product-card .card-text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: clamp(0.95rem, 5vw, 1.3rem);
  text-transform: uppercase;
  margin: 0.5rem;
}
.product-gallery .product-card .card-text button {
  letter-spacing: 1px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 700;
  font-size: clamp(1rem, 4vw, 1.3rem);
  padding: clamp(0.5rem, 2vw, 0.7rem) clamp(0.7rem, 2vw, 1.5rem);
  border: 2px solid #090909;
  background-color: #fdf7e7;
  border-radius: clamp(20px, 10vw, 30px);
  transform: translateY(0px);
  transition: transform 0.5s;
}
.product-gallery .product-card .card-text button .hover-text {
  display: none;
}
.product-gallery .product-card .card-text button:hover,
.product-gallery .product-card .card-text button:focus,
.product-gallery .product-card .card-text button:active {
  transform: translateY(-0.5rem);
  background-color: #ff5400;
  border-radius: 0;
  color: #fdf7e7;
  border: none;
  position: relative;
}
.product-gallery .product-card .card-text button:hover::after,
.product-gallery .product-card .card-text button:focus::after,
.product-gallery .product-card .card-text button:active::after {
  content: "";
  background-image: url(../assets/btn-corner-prods.svg);
  position: absolute;
  background-size: cover;
  top: 0;
  right: 0;
  height: 19px;
  width: 16px;
  z-index: 1;
  background-repeat: no-repeat;
}
.product-gallery .product-card .card-text button:hover .hover-text,
.product-gallery .product-card .card-text button:focus .hover-text,
.product-gallery .product-card .card-text button:active .hover-text {
  display: block;
}
.product-gallery .product-card .card-text button:hover .price,
.product-gallery .product-card .card-text button:focus .price,
.product-gallery .product-card .card-text button:active .price {
  display: none;
}
@media (min-width: 760px) {
  .product-gallery {
    gap: 2rem;
  }
  .product-gallery .product-card {
    width: calc((92vw - 2rem) / 2);
  }
}
@media (min-width: 1200px) {
  .product-gallery {
    margin-bottom: 19.8px;
  }
  .product-gallery .product-card {
    width: calc((94vw - 2rem * 3) / 4);
  }
  .product-gallery .product-card .card-text button {
    border-width: 3px;
  }
}

.ingredients {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  gap: 1rem;
  position: relative;
  margin: clamp(19.8px, 20vh, 56px) 0;
  padding-left: 3%;
  padding-right: 3%;
}
.ingredients figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 1rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(0.75rem, 4vw, 1rem);
}
.ingredients figure img {
  height: clamp(3rem, 10vh, 5rem);
  margin-bottom: 0.75rem;
}
.ingredients figure:last-child img {
  margin: 0;
  width: 100%;
}
@media (min-width: 760px) {
  .ingredients {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .ingredients {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
  }
}

.splash-text {
  margin: 19.8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
}
.splash-text img {
  width: 75%;
  max-width: 300px;
}
.splash-text p {
  font-family: "Bricolage Grotesque", sans-serif;
  text-align: center;
  font-size: clamp(1rem, 6vw, 2rem);
  max-width: 65rem;
}
.splash-text a {
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #090909;
  font-weight: 800;
  font-size: clamp(0.9rem, 4vw, 1.3rem);
  text-transform: uppercase;
}
.splash-text a:hover,
.splash-text a:focus,
.splash-text a:active {
  text-underline-offset: 0.25rem;
  text-decoration: underline 4px;
}
.splash-text a:after {
  content: "";
  display: inline-block;
  background-image: url("../assets/right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0.5rem;
  width: clamp(0.9rem, 4vw, 1.3rem);
  height: clamp(0.9rem, 4vw, 1.3rem);
}

.products {
  background-color: #fdf7e7;
}
.products .tab-names {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: clamp(19.8px, 10vh, 39.6px) auto;
  margin-bottom: clamp(0.3rem, 2vh, 28px);
  padding-left: 3%;
  padding-right: 3%;
  font-weight: 900;
  max-width: 80rem;
}
.products .tab-names .tab {
  background: none;
  border: none;
  position: relative;
  display: flex;
}
.products .tab-names .tab p {
  font-family: "Big Shoulders", sans-serif;
  font-size: clamp(2rem, 6vw, 5rem);
  margin: 0.5rem 0.2rem;
  margin-top: 0.25rem;
}
.products .tab-names .tab .corner-num {
  font-family: "Bricolage Grotesque", sans-serif;
  margin: 0;
  font-size: clamp(0.75rem, 2vw, 1rem);
  position: relative;
  top: 0;
  right: 0;
}
.products .tab-names .tab.current p {
  text-underline-offset: 0.4rem;
  text-decoration: underline 5px;
}
.products .tab-names .tab:hover p, .products .tab-names .tab:active p, .products .tab-names .tab:focus p {
  text-underline-offset: 0.4rem;
  text-decoration: underline 5px;
}
.products #product-gallery-container {
  position: relative;
  padding-left: 3%;
  padding-right: 3%;
}
.products #product-gallery-container .arrow-btn {
  position: absolute;
  top: 37%;
  z-index: 999;
  background-color: #fdf7e7;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  padding: clamp(0.75rem, 2vw, 0.9rem);
  border-radius: 100%;
}
.products #product-gallery-container .arrow-btn svg {
  height: clamp(1.1rem, 2vw, 1.4rem);
  width: auto;
}
.products #product-gallery-container .arrow-btn#right-arrow-prod {
  right: 5%;
}
.products #product-gallery-container .arrow-btn#left-arrow-prod {
  left: 5%;
}
.products .page-divider {
  margin: clamp(19.8px, 20vh, 56px) 0;
  background-image: url("../assets/seperator.svg");
  background-repeat: repeat-x;
  background-size: 1400px;
  height: 35px;
}
@media (min-width: 760px) {
  .products .tab-names {
    justify-content: space-between;
  }
  .products #product-gallery-container .arrow-btn {
    top: 40%;
  }
  .products #product-gallery-container .arrow-btn#right-arrow-prod {
    right: 1.5%;
  }
  .products #product-gallery-container .arrow-btn#left-arrow-prod {
    left: 1.5%;
  }
}

.about {
  background-color: #fdf7e7;
}

.about-1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0;
  align-items: initial;
  margin-top: 79.2px;
}
@media (min-width: 47.5em) {
  .about-1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.about-1 a {
  border-radius: 50px;
  color: #090909;
  padding: 79.2px 28px;
  text-decoration: none;
  margin: 0;
  height: 625.73px;
}
.about-1 .red-card,
.about-1 .blue-card {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 39.6px;
}
.about-1 .red-card h2,
.about-1 .red-card span,
.about-1 .blue-card h2,
.about-1 .blue-card span {
  writing-mode: vertical-lr;
  text-transform: uppercase;
  margin: 0;
  font-size: 17px;
  letter-spacing: 1.2px;
  font-weight: 700;
  text-align: right;
}
.about-1 .red-card h2,
.about-1 .blue-card h2 {
  transform: rotate(180deg);
}
.about-1 .red-card span,
.about-1 .blue-card span {
  transform: rotate(0deg);
}
.about-1 .red-card img,
.about-1 .blue-card img {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  transition: transform 0.3s ease;
}
.about-1 .red-card img:hover,
.about-1 .blue-card img:hover {
  transform: scale(1.03);
}
.about-1 .yellow-card,
.about-1 .orange-card {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  row-gap: 39.6px;
  width: 100%;
}
.about-1 .yellow-card h2,
.about-1 .orange-card h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Big Shoulders", sans-serif;
  font-size: 50px;
  line-height: 45px;
  font-weight: 800;
  margin: 0;
}
.about-1 .yellow-card p,
.about-1 .orange-card p {
  font-family: "Bricolage Grotesque", sans-serif;
  text-align: center;
  width: 70%;
  line-height: 22.4px;
  margin: 8px 0;
}
.about-1 .yellow-card div,
.about-1 .orange-card div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 39.6px;
}
.about-1 .yellow-card div figure,
.about-1 .orange-card div figure {
  margin: 0;
  width: 81px;
  transition: all 1.5s ease;
}
.about-1 .yellow-card div figure:hover,
.about-1 .orange-card div figure:hover {
  transform: rotate(360deg);
}
.about-1 .yellow-card div img,
.about-1 .orange-card div img {
  height: 100%;
  width: 100%;
  vertical-align: middle;
}
.about-1 .yellow-card div span,
.about-1 .orange-card div span {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.2px;
  font-size: 15px;
}
.about-1 .yellow-card div .rotate,
.about-1 .orange-card div .rotate {
  transform: rotate(180deg);
}
.about-1 .red-card {
  justify-content: space-evenly;
  background-color: #da3e25;
}
.about-1 .red-card figure {
  margin: 0;
  max-width: 440px;
}
.about-1 .orange-card {
  background-color: #ff7520;
}
.about-1 .yellow-card {
  background-color: #ffc832;
}
.about-1 .blue-card {
  background-color: #c8e4ff;
  justify-content: space-around;
}
.about-1 .blue-card figure {
  margin: 0;
  max-width: 360px;
}

.about-2 {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  width: 100%;
}
.about-2 .carousel {
  display: flex;
  position: relative;
  gap: 60px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
}
.about-2 .carousel div {
  padding: 40px 10px;
}
.about-2 .carousel > div {
  flex-shrink: 0;
}
.about-2 figure {
  width: 128px;
}
.about-2 a {
  padding: 12px 19.8px 8px;
  border: 2px solid #090909;
  border-radius: 50px;
  font-size: 14px;
  letter-spacing: 0.7px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #090909;
  text-transform: uppercase;
  font-weight: 700;
}
.about-2 .rot--15 {
  transform: rotateZ(-15deg);
}
.about-2 .rot-15 {
  transform: rotateZ(15deg);
}

footer {
  background-color: #fdf7e7;
}

.forms {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
@media (min-width: 47.5em) {
  .forms {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
.forms .newsletter {
  background-color: #ee83a4;
  padding: 79.2px 56px;
}
.forms .newsletter span {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.forms .newsletter .news-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 28px;
  justify-content: space-between;
}
.forms .newsletter .news-text h2 {
  font-family: "Big Shoulders", sans-serif;
  font-size: 56px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}
.forms .newsletter .news-text p {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  width: 50%;
  line-height: 1.4;
}
.forms .newsletter .news-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 28px;
  gap: 10px;
}
.forms .newsletter .news-button p {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #090909;
  padding-right: 12rem;
  padding-bottom: 0;
  margin: 0;
  align-content: space-around;
}
.forms .newsletter .news-button a {
  text-decoration: none;
  color: #ee83a4;
  background-color: #090909;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 12px 20px;
}
.forms .carte {
  background-color: #ff5400;
  padding: 79.2px 56px;
}
.forms .carte span {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.forms .carte h2 {
  font-family: "Big Shoulders", sans-serif;
  font-size: 56px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 28px;
  margin-bottom: 0px;
}
.forms .carte .carte-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin-top: 10px;
}
.forms .carte .carte-text p {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  width: 60%;
  line-height: 1.4;
  margin-bottom: 0;
}
.forms .carte .carte-text a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ff7520;
  background-color: #090909;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-left: 10px;
  padding: 12px 20px;
  transition: transform 0.3s ease;
}
.forms .carte .carte-text a:hover {
  transform: translateX(-10px);
}

.infos {
  display: flex;
  flex-direction: column;
  margin-top: 79.2px;
  align-items: center;
  padding: 0 1rem;
}
@media (min-width: 47.5em) {
  .infos {
    flex-direction: row;
    align-items: flex-start;
    padding: 0 56px;
  }
}
.infos .infos-1 {
  width: 90%;
  row-gap: 19.8px;
}
@media (min-width: 47.5em) {
  .infos .infos-1 {
    width: 33%;
    row-gap: 39.6px;
  }
}
.infos .infos-1 p {
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 1.4rem;
}
.infos .infos-1 div {
  display: flex;
  flex-direction: row;
  column-gap: 19.8px;
  align-items: center;
}
.infos .infos-1 div h2 {
  font-family: "Big Shoulders", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 34px;
}
.infos .infos-1 div a {
  width: 30px;
}
.infos .infos-2 {
  display: flex;
  flex-direction: column;
  width: 90%;
  row-gap: 19.8px;
  align-items: center;
}
@media (min-width: 47.5em) {
  .infos .infos-2 {
    width: 33%;
    row-gap: 28px;
  }
}
.infos .infos-2 .logo-footer {
  width: 235px;
}
.infos .infos-2 .signature-footer {
  width: 196px;
}
.infos .infos-3 {
  width: 90%;
}
@media (min-width: 47.5em) {
  .infos .infos-3 {
    width: 17%;
  }
}
.infos .infos-3 li {
  list-style: none;
  text-align: center;
  margin-bottom: 14px;
}
.infos .infos-3 li a {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  color: #090909;
}
.infos .infos-3 li:hover {
  text-decoration: underline;
}
.infos .infos-4 {
  width: 90%;
}
@media (min-width: 47.5em) {
  .infos .infos-4 {
    width: 17%;
  }
}
.infos .infos-4 li {
  list-style: none;
  text-align: center;
  margin-bottom: 14px;
}
.infos .infos-4 li a {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  color: #090909;
}
.infos .infos-4 li:hover {
  text-decoration: underline;
}

.copyright {
  margin-top: 56px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 56px;
  align-items: center;
  justify-content: center;
  column-gap: 28px;
  font-weight: 100;
  font-size: 14px;
  font-family: "Bricolage Grotesque", sans-serif;
}
.copyright a {
  text-decoration: none;
  color: #090909;
}
.copyright a:hover {
  text-decoration: underline;
}
.copyright .besoin {
  width: 90%;
  width: 144px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
}
@media (min-width: 47.5em) {
  .copyright .besoin {
    margin-left: auto;
  }
}
.copyright .whatsapp {
  width: 50px;
  margin: 0;
}

.footer-bar {
  margin-top: 28px;
  background-position: top center;
  background-image: url(https://atelierdegeraldine.fr/wp-content/uploads/footer-fin-2.svg);
  background-size: 200px;
  height: 32px;
}

/*# sourceMappingURL=styles.css.map */
